---
layout: base-no-hero.njk
title: Mathématiques 1 FIMI groupe 14
lang: fr
permalink: /enseignement/26-27_fimi-014/
---
<span class="kicker">Enseignement</span>
<h1>Mathématiques 1 : FIMI groupe 14</h1>
<p class="lede">
  Travaux Dirigés, semestre 1, année 2026-2027.
</p>


<h2>Informations pratiques</h2>
<p>
  CM : lundi de 16h à 17h et mercredi de 14h à 15h avec Sylvain Moulin. <br>

  TD : lundi de 14h à 16h et mercredi de 10h à 11h30 en salle C1.
</p>


<h2>Feuilles de TD</h2>
<p>
  <em>Les feuilles seront ajoutées ici au fur et à mesure du semestre.</em>
</p>



<h2>Cahier de textes</h2>

<dl>
  <dt><strong>Lundi 14 septembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 2/52,5.</dd>

  <dt><strong>Mercredi 16 septembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 3,5/52,5.</dd>

  <dt><strong>Lundi 21 septembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 5,5/52,5.</dd>

  <dt><strong>Mercredi 23 septembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 7/52,5.</dd>

  <dt><strong>Lundi 28 septembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 9/52,5.</dd>

  <dt><strong>Mercredi 30 septembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 10,5/52,5.</dd>

  <dt><strong>Lundi 5 octobre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 12,5/52,5.</dd>

  <dt><strong>Mercredi 7 octobre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 14/52,5.</dd>

  <dt><strong>Lundi 12 octobre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 16/52,5.</dd>

  <dt><strong>Mercredi 14 octobre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 17,5/52,5.</dd>

  <dt><strong>Lundi 19 octobre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 19,5/52,5.</dd>

  <dt><strong>Mercredi 21 octobre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 21/52,5.</dd>

  <dt><strong> >>> Exam nº1 : vendredi 23 octobre de 16h à 18h</strong></dt>
  <dd>Salle ??? </dd>

  <dt><strong>> Vacances </strong></dt>
  <dd> Pas de TD la semaine du 26 octobre.</dd>

  <dt><strong>Lundi 2 novembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 23/52,5.</dd>

  <dt><strong>Mercredi 4 novembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 24,5/52,5.</dd>

  <dt><strong>Lundi 9 novembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 26,5/52,5.</dd>

  <dt><strong>>> Pas de TD le mercredi 11 novembre</strong></dt>
  <dd>férié</dd>

  <dt><strong>Lundi 16 novembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 28,5/52,5.</dd>

  <dt><strong>Mercredi 18 novembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 30/52,5.</dd>

  <dt><strong>Lundi 23 novembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 32/52,5.</dd>

  <dt><strong>Mercredi 25 novembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 33,5/52,5.</dd>

  <dt><strong>Lundi 30 novembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 35,5/52,5.</dd>

  <dt><strong>Mercredi 2 décembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 37/52,5.</dd>

  <dt><strong>>>> Exam nº2 : vendredi 4 décembre de 16h à 18h</strong></dt>
  <dd>Salle ??? </dd>

  <dt><strong>Lundi 7 décembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 39/52,5.</dd>

  <dt><strong>Mercredi 9 décembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 40,5/52,5.</dd>

  <dt><strong>Lundi 14 décembre de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 42,5/52,5.</dd>

  <dt><strong>Mercredi 16 décembre de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 44/52,5.</dd>

  <dt><strong> > Vacances </strong></dt>
  <dd> Pas de TD les semaines du 21 et 28 décembre. </dd>

  <dt><strong>Lundi 4 janvier de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 46/52,5.</dd>

  <dt><strong>Mercredi 6 janvier de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 47,5/52,5.</dd>

  <dt><strong>Lundi 11 janvier de 14h à 16h</strong></dt>
  <dd>Salle C1 - TD 49,5/52,5.</dd>

  <dt><strong>Mercredi 13 janvier de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 51/52,5.</dd>

  <dt><strong>Mercredi 20 janvier de 10h à 11h30</strong></dt>
  <dd>Salle C1 - TD 52,5/52,5.</dd>

  <dt><strong> >>> Examen final : jeudi 28 janvier de 9h à 12h</strong></dt>
  <dd>Salle ??? </dd>

</dl>
